<header>
  <div id="heading" role="heading">
    <h1>کلاس آنلاین</h1>
    <button nz-button nzType="primary" id="add-new-class">
      <b>+</b> &nbsp; افزودن کلاس
    </button>
  </div>
  <div id="filters-container" aria-label="filters">
    <span aria-label="layout filter" id="layout-filter">
      <p>نمایش: &nbsp;</p>
      <span id="layout-btn-container">
        <button
          nz-button
          nzType="primary"
          #layoutBtn
          class="layout-btn"
          (click)="changeLayout('card')"
          [ngClass]="{ selected: layout() === 'card' }"
        >
          کاردی</button
        ><button
          nz-button
          nzType="primary"
          class="layout-btn"
          #layoutBtn
          (click)="changeLayout('table')"
          [ngClass]="{ selected: layout() === 'table' }"
        >
          جدولی
        </button>
      </span>
    </span>
    <span aria-label="groups filter" id="groups-filter">
      <p>گروه آموزشی: &nbsp;</p>
      <nz-cascader
        [nzOptions]="groupsCascader"
        nzPlaceHolder="انتخواب گروه آموزشی"
      >
      </nz-cascader>
    </span>
    <span>
      <p>درس: &nbsp;</p>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="اتخواب درس">
        <!-- @for (lesson of lessons; track $index) {
          <nz-option [nzLabel]="lesson.label" [nzValue]="lesson.value"></nz-option>
        } -->
      </nz-select>
    </span>
    <span>
      <p>روز: &nbsp;</p>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="اتخواب روز">
        <nz-option nzLabel="شنبه" [nzValue]="0"></nz-option>
        <nz-option nzLabel="شنبه یک" [nzValue]="1"></nz-option>
        <nz-option nzLabel="شنبه دو" [nzValue]="2"></nz-option>
        <nz-option nzLabel="شنبه سه" [nzValue]="3"></nz-option>
        <nz-option nzLabel="شنبه چهار" [nzValue]="4"></nz-option>
        <nz-option nzLabel="شنبه پنج" [nzValue]="5"></nz-option>
        <nz-option nzLabel="جمعه" [nzValue]="6"></nz-option>
      </nz-select>
    </span>
  </div>
</header>
<main>
  @if (layout()==='card') {
  <app-card></app-card>
  } @else if (layout()==='table') {
  <app-table [data_list]="classes_list()"></app-table>
  }
</main>
